<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <main>
      <section id="galeria">
        <a href="../img/HTML5_logo_and_wordmark.svg.png">
          <img
            src="../img/HTML5_logo_and_wordmark.svg.png"
            alt="HTML LOGO"
            width="100px"
          />
        </a>
        <h1>Logo de HTML</h1>
        <h2>Hypertext Markup Language</h2>
        <a href="../img/HTML5_logo_and_wordmark.svg.png" download=""
          >Descargar imagen</a
        >
        <a href="archivo.pdf" pd>Descargar PDF</a>
        <a href="mailto:lucasoelshlager@gmail.com">Enviar correo</a>
      </section>
    </main>
    <a href="#galeria">Ir a la seccion galeria</a>
  </body>
</html>
