<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <nav>
        <a href="index.html">Inicio</a>
        <a href="templates/galeria.html">Galeria</a>
        <a href="templates/tabla.html">Tabla</a>
        <a href="https://www.google.com/">Google</a>
        <a href="../lista.html">Ir a la pagina de listas</a>
        <a href="./galeria.html">Ir a la Galeria</a>
        <a href="./tabla.html">Ir a la tabla</a>
      </nav>
    </header>
    <main>
      <section>
        <div>
          <h1>Esto es un Titulo</h1>

          <p>Esto es un texto: Lorem ipsum dolor sit amet.</p>
        </div>
        <div>
          <img src="" alt="Esto es una Imagen" />
        </div>
      </section>
      <section>
        <p>
          <mark> Esto es un texto resaltado </mark>
          <i>Esto es un texto en <strong>cursiva</strong></i>
        </p>
        <br />
        <h1>Esto es un h1</h1>
        <h2>Esto es un h2</h2>
        <h3>Esto es un h3</h3>
        <h4>Esto es un h4</h4>
        <h5>Esto es un h5</h5>
        <h6>Esto es un h6</h6>
        <b>Eso es un texto en negrita</b>
        <u>Esto es un texto subrayado</u>
      </section>
    </main>
    <footer></footer>
  </body>
</html>
