<!DOCTYPE html>
<html lang="e">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tabla</title>
    <link rel="icon" href="../img/akali.ico" />
    <meta
      name="description"
      content="Esta es una página de ejemplo que muestra una tabla."
    />
    <meta name="keywords" content="HTML, tabla, ejemplo, programación" />
  </head>
  <body>
    <section>
      <div>
        <audio src="../audio.mp3" preload="" controls></audio>
      </div>
      <div>
        <video src=""></video>
      </div>
    </section>
    <section>
      <div>
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/v6wDu-6t6Gk"
          frameborder="0"
          allowfullscreen
        ></iframe>
      </div>
      <div>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3349.250511326615!2d-60.6969057!3d-32.917979!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95b6534c1b2e10f3%3A0x7d3386311cf0d620!2sDr.%20Cu%C3%A9%20876%2C%20S2000%20Rosario%2C%20Santa%20Fe!5e0!3m2!1ses-419!2sar!4v1742840146539!5m2!1ses-419!2sar"
          width="600"
          height="450"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
    </section>
    <section>
      <table border="1">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Edad</th>
            <th>Ciudad</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Laureano</td>
            <td>21</td>
            <td>Irigoyen</td>
          </tr>
          <tr>
            <td>Lucas</td>
            <td>20</td>
            <td>Rosario</td>
          </tr>
          <tr>
            <td>Juan</td>
            <td>18</td>
            <td>Empalme</td>
          </tr>
        </tbody>
      </table>
    </section>
  </body>
</html>
