<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section>
        <div>
            <h1>Imagenes del Recital en el Movistar Arena</h1>
            <p>La banda británica Bring Me The Horizon se presentó en el Movistar Arena de Buenos Aires, Argentina el domingo 8 de diciembre de 2024. 
            El show fue parte de su gira para presentar su último álbum de estudio, Post Human: Nex Gen</p>

            <h2>Detalles del Show</h2>
                <ul>
                    <li>La banda interpretó clásicos de Sempiternal (2013) y That's the Spirit (2015)</li>
                    <li>La puesta en escena incluyó pirotecnia, humo, confetis, lasers y visuales</li>
                    <li>Los teloneros fueron NVLO y The Plot In You</li>
                    <li>El show duró casi dos horas</li>
                </ul>
                <img src="../images/reci1.jpg" width="200" height="300" alt="">
                <img src="../images/reci2.jpg" width="200" height="300"  alt="">
                <img src="../images/reci3.jpg" width="200" height="300"  alt="">
                <img src="../images/reci4.jpg" width="200" height="300"  alt="">
                <img src="../images/reci5.jpg" width="200" height="300" alt="">
        </div>
        <div>
            <h2>Ver otras imagenes del recital</h2>
            <a href="../images/reci6.jpg" width="200" height="300" target="_blank">abrir imagen en otra pestaña<br></a>
            <a href="../images/reci7.jpg" width="200" height="300" download>Descargar imagen<br></a>
            <a href="../assets/lista de temas.pdf" width="200" height="300" download>Descargar la lista de temas que toco en pdf<br></a>
        </div>
    </section>
    <a href="../hola_mundo.html">volver a inicio</a>
</body>
</html>