<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section>
        <h2>Lista: <u>Desordenada</u></h2>
        <h3>Temas mas Escuchados</h3>
        <ul>
            <li><strong>Throne</strong></li>
            <li><strong>Can You Feel My Heart</strong></li>
            <li><strong>KingSlayer(feat.BabyMetal)</strong></li>
            <li><strong>DarkSide</strong></li>
        </ul>
    </section>
    <section>
        <h2>Lista: <u>Ordenada</u></h2>
        <h3>Discos:</h3>
        <ol>
            <li><strong>Count your Blessings - 2006</strong></li>
            <li><strong>Suicide Season - 2008</strong></li>
            <li><strong>There is Hell,Bealieve Me i've seen it.  - 2010</strong></li>
            <li><strong>Sempiternal  - 2013</strong></li>
            <li><strong>That's the Spirit  - 2015</strong></li>
            <li><strong>Amo - 2019</strong></li>
            <li><strong>Post Human:Nex Gen - 2024</strong></li>
        </ol>
    </section>
    <section>
        
    </section>
    <section></section>
</body>
</html>