<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>hola soy la tabla</h1>
    <a href="../hola_mundo.html">volver a inicio</a>

    <section>
        <table border="1">
            <tr>
                <th>encabezado 1</th> 
                <th>encabezado 2</th> 
            </tr>
            <tr>
                <td>10</td>
                <td>agosto</td>   
            </tr>
            <tr>
                <td>11</td>
                <td>octubre</td>
            </tr>


        </table>
        <table border="1">
            <tr>
                <th>INSTRUMENTO</th>
                <th>TIPO DE INSTRUMENTO</th>
                <th>PRECIO</th>
            </tr>
            <tr>
                <td> guitarra</td>
                <td>cuerda</td>
                <td>120000</td>
            </tr>
            <tr>
                <td>flauta</td>
                <td>viento</td>
                <td>5000</td>
            </tr>
            <tr>
                <td>bombo</td>
                <td>percusion</td>
                <td>80000</td>
            </tr>
            <tr>
                <td>violin</td>
                <td>cuerda</td>
                <td>100000</td>
            </tr>

        </table>

        <table border="1">
            <tr>
                <td>item</td>
                <td colspan="2" >item doble</td>
            </tr>
            <tr>
                <td>item</td>
                <td colspan="2">item doble</td>
                <td colspan="3">item triple</td>
            </tr>
        </table>
    </section>
</body>
</html>