<!DOCTYPE html>
<html lang="sn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../imagenes/club_atletico_rosario_central_de_rosario_santa_fe_1903_1964.ico">
    <title>Document</title>
</head>
<body>

    <header> 

        <a href="../index.html"> INICIO </a>
        <a href="#"> GALERIA </a>
        <a href="./tabla.html"> TABLA </a>
        <a href="http://www.google.com"> GOOGLE </a>
        <a href="./listas.html"> LISTAS </a>
        <a href="./formulario.html"> FORMULARIO </a>


    </header>

    <main> 

    <h1> GALERIA </h1>

    <section>
        <conteiner> 
            <img src="../imagenes/ywoLN77_Q_400x400__1.jpg" alt="ignacio-malcorra-besando-copa-rosario-central" width="300px">

            <h2> <u>Central campeón</u> </h2>

            <p> Rosario Central le ganó 1-0 a Platense y se consagró campeón de la Copa de la Liga 2023 
                tras una final vibrante disputada en Santiago del Estero, 
                que se decidió por el gol de Maximiliano Lovera en el primer tiempo. <br>

                De la mano de Miguel Ángel Russo, conductor de un equipo de jóvenes, 
                apuntalados en el talento de Ignacio Malcorra y con la revelación de Jaminton Campaz, 
                el Canalla cosechó su decimosegundo título, el primero desde 2018, año en que levantó la Copa Argentina 
                tras vencer en la final a Gimnasia por penales.
            </p>

            <a href="../imagenes/ywoLN77_Q_400x400__1.jpg" target="_blank"> click aqui para ver la imagen </a> <br> <!-- black me lo abre en otra pestaña y self me lo abre ahi mismo-->
            <a href="../imagenes/ywoLN77_Q_400x400__1.jpg" download="ywoLN77_Q_400x400__1.jpg"> click aqui para descargar la imagen </a> <br> <!-- black me lo abre en otra pestaña y self me lo abre ahi mismo-->
       
            <h3> LIBRO 19 DE DICIEMBRE 1971 R. FONTANARROSA</h3>

            <a href="../imagenes/Roberto_Fontanarrosa.pdf" download="Roberto_Fontanarrosa.pdf"> click para descargar </a>

            <h4>Enviar correo</h4>

            <a href="mailto:tomiparenti06@gmail.com"> click aqui para enviarme un correo </a>
             </conteiner>
    </section>

</main>

    
</body>
</html>