<!DOCTYPE html>
<html lang="sn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../imagenes/club_atletico_rosario_central_de_rosario_santa_fe_1903_1964.ico">
    <title>Document</title>
</head>
<body>

    <header> 

        <a href="../index.html"> INICIO </a>
        <a href="./galeria.html"> GALERIA </a>
        <a href="./tabla.html"> TABLA </a>
        <a href="http://www.google.com"> GOOGLE </a>
        <a href="#"> LISTAS </a>
        <a href="./formulario.html"> FORMULARIO </a>


    </header>


    <main>

        <h1> LISTAS </h1>

        <h2> TABLAS LIGA PROFESIONAL </h2>

        <section>
            <h3> GRUPO "A"</h3>
            <ul>
                <ol>independiente</ol>
                <ol>rosario central</ol>
                <ol>river</ol>
                <ol>san lorenzo</ol>
            </ul>
        </section>



        <section>
            <h4> GRUPO "B"</h4>
            <ul>
                <li>boca</li>
                <li>huracan</li>
                <li>tigre</li>
                <li>argentinos</li>
            </ul>
        </section>


        <section>
            <ul>

                <li> Tabla general </li>
                <ul>
                    <ol>boca</ol>
                    <ol>huracan</ol>
                    <ol>independiente</ol>
                    <ol>tigre</ol>
                </ul>

                <li> promedios </li>
                <ul>
                    <ol>river</ol>
                    <ol>boca</ol>
                    <ol>talleres</ol>
                    <ol>estudiantes</ol>
                </ul>

            </ul>
        </section>



        <section>

            <h5> Goleadores</h5>

            <ul>
                <ol>vombergar</ol>
                <ol>russo</ol>
                <ol>n. fernandez</ol>
                <ol>malcorra</ol>
            </ul>

            <h6> Asistencias </h6>

            <ul>
                <ol>angulo</ol>
                <ol>palacios</ol>
                <ol>saralegui</ol>
                <ol>malcorra</ol>
            </ul>
        </section>

    </main>

    
</body>
</html>