<!DOCTYPE html>
<html lang="sn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../imagenes/club_atletico_rosario_central_de_rosario_santa_fe_1903_1964.ico">

    <meta name="descripcion " content="pagina de informacion sobre el club atletico rosario central de caracter institucional y futbolistico">
    <meta name="keywords" content="rosario, central, futbol, carc, pelota, camistas, jugadores, estadios, canchas, deporte">
    <title>Document</title>
</head>
<body>

    <header> 

        <a href="../index.html"> INICIO </a>
        <a href="./galeria.html"> GALERIA </a>
        <a href="#"> TABLA </a>
        <a href="http://www.google.com"> GOOGLE </a>
        <a href="./listas.html"> LISTAS </a>
        <a href="./formulario.html"> FORMULARIO </a>


    </header>

    <main> 
        <section>
            <div>

                <video src="../imagenes/(80) MIGUEL ÁNGEL RUSSO, COMPLETAMENTE EMOCIONADO TRAS LA CONSAGRACIÓN DE ROSARIO CENTRAL - YouTube - Google Chrome 2024-03-06 16-28-14.mp4" controls poster="" width="300px"></video>

                <!--<iframe width="560" height="315" src="https://www.youtube.com/embed/Nfo6ZwZsL04?si=Fk9Fx88ph8K_WpNe" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

                 <video src="https://youtu.be/Nfo6ZwZsL04?si=Fk9Fx88ph8K_WpNe" controls poster=""></video> 
                 asi es como esta en el pdf del cvg pero me gusta mas como queda con el link directo que nos da youtube-->

            </div>

            <div>

                <audio src="../imagenes/Jorge Drexler - Todo se transforma (video clip).mp4" controls></audio>

            </div>

        </section>


        <section>

            <div>

                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3347.8678335251398!2d-60.646393924297236!3d-32.95449867228538!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95b7ab11d0eb49c3%3A0x11f1d3d54f950dd0!2sUniversidad%20Tecnol%C3%B3gica%20Nacional%20%7C%20Facultad%20Regional%20Rosario!5e0!3m2!1ses!2sar!4v1742843093615!5m2!1ses!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

            </div>

            <div>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/Nfo6ZwZsL04?si=Fk9Fx88ph8K_WpNe" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>

        </section>




        <section>

            <table border="1"> <!-- hace la tabla-->
                <tr> <!-- hace las filas-->
                    <th>virtual</th> <!-- se usa para el encabezado de cada columna-->
                    <th>presencial</th>
                    <th>libre</th>
                </tr>

                <tr>
                    <td>lunes</td> <!-- va a virtual -->
                    <td>martes</td> <!-- va a presencial -->
                    <td rowspan="2">viernes</td>
                </tr>

                <tr>
                    <td>miercoles</td>
                    <td>jueves</td>
                </tr>
            </table>

        </section>
    </main>

    
</body>
</html>