<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galeria</title>
</head>
<body>
    <header>
        <a href="index.html">Inicio</a>
        <a href="galeria.html">Galeria</a>
        <a href="tabla.html">Tabla</a>
        <a href="https://www.google.com/?hl=es">Google</a>
        <a href="lista.html">listas</a>
        <a href="formulario.html">formulario</a>
 </header>
        <main>
            <section>
                <h1 >imagenes sobre Los Simpsons</h1>
            </section>
            <section>
                <img src="../img/imagen1.webp" alt="" >
                <img src="../img/imagen2.webp" alt="" >
                <img src="../img/imagen3.webp" alt="" >
                <img src="../img/imagen4.webp" alt="" >
                <img src="../img/imagen5.webp" alt="" >
                <section>
                    <img src="../img/imagen.webp" alt="" id="foto-viral">
                    <h3>Homero metiendose al arbusto</h3>
                    <p>Esta es la famosa escena donde homero se mete al arbusto.</p>
                    <a href="http://127.0.0.1:51609/semana-1-html/practica-2/img/imagen.webp" target="_blank">abrir imagen</a>
                    <a href="../img/imagen.webp" download="imagen.webp">
                    <button>Descargar imagen</button>
                    </a>
                    <a href="mailto:octaviog2308@gmail.com?subject=Ingresar un asunto&body=Escribe tu consulta aqui">
                        Enviar un correo electrónico
                    </a>
                </section>
            </section>
        </main>
</body>
</html>