<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="imge/x-icon" href="../img/250px-Logo_The_Simpsons.svg (1).jpg">
    <title>Inicio</title>
</head>
<body>
       <header>
              <a href="index.html">Inicio</a>
              <a href="galeria.html">Galeria</a>
              <a href="tabla.html">Tabla</a>
              <a href="https://www.google.com/?hl=es">Google</a>
              <a href="lista.html">listas</a>
              <a href="formulario.html">formulario</a>
       </header>
    <main >
           <section>
                  <div>
                    <h1>Lorem ipsum dolor</h1>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem, eum nam! Animi voluptates porro officiis repellat, nihil eaque sit nisi velit doloribus deserunt cum ad eligendi illum consectetur, labore quod!</p>
                  </div>
           </section>
           <section>
                   <p><mark>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non ipsum laboriosam autem itaque rerum excepturi saepe molestias sequi laudantium quaerat architecto dicta, quod neque reiciendis? Neque expedita asperiores similique distinctio?Lorem <strong>ipsum</strong> dolor sit amet consectetur adipisicing elit. Ullam qui et rerum <strong>porro</strong> culpa saepe. Provident, quos nihil quaerat in ipsum obcaecati sed ut amet <i>veniam, nobis corrupti harum </i></mark></p>
                   <h2><u>Lorem ipsum Historia</u></h2>
                   <p>Lorem Ipsum es un texto en latín utilizado comúnmente en diseño gráfico para probar la apariencia de tipografías o diseños antes de insertar el contenido final. Su uso se remonta a los impresores de comienzos del siglo XVI.
                    El texto deriva de un fragmento del tratado filosófico "De finibus bonorum et malorum" de Marco Tulio Cicerón, escrito en el siglo I a.C.. <br>
                    <br>Este fragmento fue modificado, con la eliminación de algunas palabras y letras, para convertirlo en un texto ininteligible en latín.
                    La popularidad de Lorem Ipsum resurgió en los años 80 cuando Aldus Corporation lo incluyó en su programa de diseño de páginas web Aldus PageMaker.</p>
           </section>
    </main>
    <footer >

    </footer>
</body>
</html>