<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabla</title>
</head>
<body>
    <header>
        <a href="index.html">Inicio</a>
        <a href="galeria.html">Galeria</a>
        <a href="tabla.html">Tabla</a>
        <a href="https://www.google.com/?hl=es">Google</a>
        <a href="lista.html">listas</a>
        <a href="formulario.html">formulario</a>
 </header>
 <nav>
    <table>
        <tr>
          <th>Capítulo</th>
          <th>Título</th>
          <th>Fecha de emisión</th>
        </tr>
        <tr>
          <td>1</td>
          <td><i>"El incendio de los Simpson"</i></td>
          <td>17 de diciembre de 1989</td>
        </tr>
        <tr>
          <td>2</td>
          <td><i>"Bart el genio"</i></td>
          <td>14 de enero de 1990</td>
        </tr>
        <tr>
          <td>3</td>
          <td><i>"La odisea de Homero"</i></td>
          <td>21 de enero de 1990</td>
        </tr>
        <tr>
          <td>4</td>
          <td><i>"No hay vergüenza como en casa"</i></td>
          <td>28 de enero de 1990</td>
        </tr>
        <tr>
          <td>5</td>
          <td><i>"Bart el general"</i></td>
          <td>4 de febrero de 1990</td>
        </tr>
        <tr>
          <td>6</td>
          <td><i>"Lisa la melancólica"</i></td>
          <td>11 de febrero de 1990</td>
        </tr>
        <tr>
          <td>7</td>
          <td><i>"La llamada de los Simpson"</i></td>
          <td>18 de febrero de 1990</td>
        </tr>
        <tr>
          <td>8</td>
          <td><i>"La cabeza que hablaba"</i></td>
          <td>25 de febrero de 1990</td>
        </tr>
        <tr>
          <td>9</td>
          <td><i>"La vida en el carril rápido"</i></td>
          <td>4 de marzo de 1990</td>
        </tr>
        <tr>
          <td>10</td>
          <td><i>"La noche de Homero"</i></td>
          <td>18 de marzo de 1990</td>
        </tr>
      </table>

      
<section class="seccion-1">
    <h2>Sección 1</h2>
    <div class="division-1">
      <h3>Reproducir archivo de audio</h3>
      <audio controls autoplay loop>
        <source src="../img/audio.mp3" type="audio/mp3">
        Tu navegador no soporta el elemento audio.
      </audio>
    </div>
    <div class="division-2">
      <h3>Reproducir video</h3>
      <video width="320" height="240" controls>
        <source src="../img/video.mp4" type="video/mp4">
        Tu navegador no soporta el elemento video.
      </video>
    </div>
  </section>
  
  
  <section class="seccion-2">
    <h2>Sección 2</h2>
    <div class="division-1">
      <h3>Mostrar mapa</h3>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d203438.60314676052!2d-93.46067818397489!3d37.18293042113112!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87cf62f745c8983f%3A0x6bfd6cb31e690da0!2sSpringfield%2C%20Misuri%2C%20EE.%20UU.!5e0!3m2!1ses-419!2sar!4v1743033285701!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="division-2">
      <h3>Video de YouTube</h3>
      <iframe src="https://www.youtube.com/embed/-jHYYzS0U-c?si=QjRXTFBmrVEB92wA" frameborder="0" allowfullscreen></iframe>
    </div>
  </section>
  
  
  <section class="seccion-3">
    <h2>Sección 3</h2>
    <table>
      <tr>
        <th>Nombre</th>
        <th>Edad</th>
        <th>Ubicación</th>
      </tr>
      <tr>
        <td>Homero Simpson</td>
        <td>39</td>
        <td>Springfield, USA</td>
      </tr>
      <tr>
        <td>Marge  Simpson</td>
        <td>38</td>
        <td>Springfield, USA</td>
      </tr>
      <tr>
        <td>Bart Simpson</td>
        <td>10</td>
        <td>Springfield, USA</td>
      </tr>
      <tr>
        <td>Lisa Simpson</td>
        <td>8</td>
        <td>Springfield, USA</td>
      </tr>
      <tr>
        <td>Maggie Simpson</td>
        <td>1</td>
        <td>Springfield, USA</td>
      </tr>
    </table>
  </section>
 </nav>
</body>
</html>