<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 id="galeria">Galeria...</h1>
    <section>
        <picture>
            <a href="../img/linusTorvalds.jpg">   
                <img src="../img/linusTorvalds.jpg"  alt="imagen de linus torvalds" width="300" height="300" title="Linus Torvalds">
            </a>
                <h2>Linus Torvalds</h2>
                <p>Linus Torvalds es una figura clave en la historia de la informática, <br> conocido principalmente por la creación del núcleo Linux, uno de los proyectos de software libre más importantes e influyentes del mundo.</p>
                <a href="../img/linusTorvalds.jpg" target="_blank">abrir la imagen en otra pestaña</a>
                <br>
                <a href="../img/linusTorvalds.jpg" download>Descargar la imagen</a>  
                <br>
                <a href="../assets/Linus_Torvalds.pdf" download>Descargar un PDF informativo sobre Linus Torvalds</a>
        </picture>
    </section>
   
    <a href="#galeria">Volver al inicio</a>
</body>
</html>