<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listas</title>
</head>
<body>
    <h1>Listas...</h1>
    <secttion>
        <ul>
            <li>item-1</li>
            <li>item-2</li>
            <li>item-3</li>
        </ul>
    </secttion>

    <secttion> 
        <ol>
            <li>item</li>
            <li>item</li>
            <li>item</li>
        </ol>
    </secttion>
    <secttion> 
            <dl>
            <dt>Item 1</dt>
            <dd>Definicion del item 1</dd>
            <dt>Item 2</dt>
            <dd>Definicion del item 2</dd>
            <dt>Item 3</dt>
            <dd>Definicion del item 3</dd>
            </dl>
    </secttion>
    <secttion>
        <ul>
            <h3>Lunes</h3>
            <li>Mañana
                <ul>
                    <li>8hs</li>
                    <li>9hs</li>
                    <li>10hs</li>
                </ul>
            </li>
            <li>Tarde
                <ul>
                    <li>14hs</li>
                    <li>15hs</li>
                    <li>16hs</li>
                </ul>
            </li>
            
            <li>Noche
                <ul>
                    <li>20hs</li>
                    <li>21hs</li>
                    <li>22hs</li>
                </ul>
            </li>
        </ul>
        <ul>
            <h3>artes</h3>
            <li>Mañana
                <ul>
                    <li>8hs</li>
                    <li>9hs</li>
                    <li>10hs</li>
                </ul>
            </li>
            <li>Tarde
                <ul>
                    <li>14hs</li>
                    <li>15hs</li>
                    <li>16hs</li>
                </ul>
            </li>
            
            <li>Noche
                <ul>
                    <li>20hs</li>
                    <li>21hs</li>
                    <li>22hs</li>
                </ul>
            </li>
        </ul>
        <ul>
            <h3>Miercoles</h3>
            <li>Mañana
                <ul>
                    <li>8hs</li>
                    <li>9hs</li>
                    <li>10hs</li>
                </ul>
            </li>
            <li>Tarde
                <ul>
                    <li>14hs</li>
                    <li>15hs</li>
                    <li>16hs</li>
                </ul>
            </li>
            
            <li>Noche
                <ul>
                    <li>20hs</li>
                    <li>21hs</li>
                    <li>22hs</li>
                </ul>
            </li>
        </ul>
        <ul>
            <h3>Jueves</h3>
            <li>Mañana
                <ul>
                    <li>8hs</li>
                    <li>9hs</li>
                    <li>10hs</li>
                </ul>
            </li>
            <li>Tarde
                <ul>
                    <li>14hs</li>
                    <li>15hs</li>
                    <li>16hs</li>
                </ul>
            </li>
            
            <li>Noche
                <ul>
                    <li>20hs</li>
                    <li>21hs</li>
                    <li>22hs</li>
                </ul>
            </li>
        </ul>
        <ul>
            <h3>Viernes</h3>
            <li>Mañana
                <ul>
                    <li>8hs</li>
                    <li>9hs</li>
                    <li>10hs</li>
                </ul>
            </li>
            <li>Tarde
                <ul>
                    <li>14hs</li>
                    <li>15hs</li>
                    <li>16hs</li>
                </ul>
            </li>
            
            <li>Noche
                <ul>
                    <li>20hs</li>
                    <li>21hs</li>
                    <li>22hs</li>
                </ul>
            </li>
        </ul>
    </secttion>
    
</body>
</html>