<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="../img/HTML5_logo.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <picture>
        <img src="../img/HTML5_logo.png" alt="logo de html5">
    </picture>

    <section class="audioVideo">
        <div>
            <p>cancion de Aerosmith</p>
            <audio src="../assets/Aerosmith - Crazy (Official Music Video).mp3"  controls></audio>
        </div>
        <div>
            <video src="https://www.youtube.com/watch" frameborder="0" controls></video>
        </div>

    </section>
   
    <section> <!-- Tuve problemas para reproducir los videos de yt -->
        <div>
            <video src="https://www.youtube.com/watch" frameborder="0" controls></video>
        </div>
        <div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3982.740480639613!2d-60.70509406371198!3d-32.922694466863256!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2sar!4v1742394088696!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </section>

   
    <section class="tabla">
    <table style="border: 1px solid black; width: auto; text-align: center; margin: 0 auto;">
        <tr>
            <th>HORAS</th>
            <th>Lunes</th>
            <th>Martes</th>
            <th>Miércoles</th>
            <th>Jueves</th>
            <th>Viernes</th>
        </tr>
        <tr>
            <td>8:00 - 9:00</td>
            <td rowspan="2" style="background-color: red;">Matemáticas</td>
            <td style="background-color: blanchedalmond;">Lengua</td>
            <td style="background-color: violet;">Música</td>
            <td></td>
            <td rowspan="2" style="background-color: blue;">Fisica</td>
        </tr>
        <tr>
            <td>9:00 - 10:00</td>
            <td style="background-color: turquoise;">Inglés</td>
            <td style="background-color: turquoise;">Inglés</td>
            <td style="background-color: blueviolet;">Ed-fisica</td>
            
        </tr>
        <tr>
            <td>10:00 - 10-:30</td>
            <td colspan="5" style="background-color: aquamarine;">Recreo</td>
        </tr>
        <tr>
            <td>10:30 - 11-30</td>
            <td style="background-color: blueviolet;">Ed-fisica</td>
            <td style="background-color: tomato;">Valenciano</td>
            <td rowspan="2" style="background-color: blanchedalmond;">Lengua</td>
            <td style="background-color: yellow;">Informática</td>
            <td style="background-color: turquoise;">Inglés</td>
        </tr>
        <tr>
            <td>12:30 - 13:30</td>
            <td style="background-color: violet;">Música</td>
            <td style="background-color: blueviolet;">Ed-fisica</td>
            <td rowspan="2" style="background-color: red;">Matemáticas</td>
            <td style="background-color: yellow;">Informática</td>
        </tr>
        <tr>
            <td>13:30 - 14-30</td>
            <td></td>
            <td style="background-color: yellow;">Informática</td>
        </tr>
    </table>
</section>
</body>
</html>